### all ignore ###
/*
/.**

### not ignore ###
!/.bash_profile
!/.bashrc
!/.Brewfile
!/.gitconfig
!/.ideavimrc
!/.gitignore_global
!/.tigrc
!/wsl.conf
!/.config/
!/.config/fish/
!/.config/fish/config.fish
!/.config/fish/fishfile
!/.config/fish/alias.fish
!/.config/fish/env.fish
!/.config/karabiner/
!/.config/karabiner/karabiner.json
!/.config/karabiner/assets/
!/.config/karabiner/assets/**
!/.config/nvim/
!/.config/nvim/**
!/.gitignore
!/etc/
!/etc/**
!/download.sh
!/LICNSE
!/Makefile
!/README.md
