### all ignore ###
/*
/.**

### not ignore ###
!/.bash_profile
!/.bashrc
!/.cheatsheet.md
!/.gitconfig
!/.gitconfig.credential
!/.ideavimrc
!/.gitignore_global
!/.tigrc
!/.tmux.conf
!/.config/
!/.config/fish/
!/.config/fish/*.fish
!/.config/fish/fish_plugins
!/.config/karabiner/
!/.config/karabiner/karabiner.json
!/.config/karabiner/assets/
!/.config/karabiner/assets/**
!/.config/nvim/
!/.config/nvim/**
!/.git_commit_template
!/.gitignore
!/bin/
!/bin/**
!/Brewfile
!/etc/
!/etc/**
!/.github/
!/.github/**
!/LICNSE
!/Makefile
!/MyEclipse.epf
!/MyProfiles.json
!/README.md
!/wsl.conf
