# Windows ホスト用 git 設定 (setup.ps1 が ~/.gitconfig に symlink する)
# macOS / WSL2 は modules/home/git.nix (home-manager) で生成される
[core]
  quotepath = false
  excludesfile = ~/.gitignore_global
  preloadindex = true
  autocrlf = false
  filemode = false
  editor = nvim
[color]
  ui = auto
[help]
  autocorrect = 1
[push]
  default = simple
[ghq "CODECOMMIT-URL"]
  vcs = git
[fetch]
  prune = true
[ghq]
  root = ~/src
[user]
  email = knsugiyama15@gmail.com
  name = knsugiyama15
[pull]
  rebase = false
[hub]
  protocol = https
[include]
    path = ~/.dotfiles/.gitconfig_credential
[credential "https://github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
