### all ignore ###
/*
/.**

### not ignore ###
!/.bash_profile
!/.bashrc
!/.Brewfile
!/.gitconfig
!/.gitconfig.credential
!/.ideavimrc
!/.gitignore_global
!/.tigrc
!/.tmux.conf
!/wsl.conf
!/.config/
!/.config/fish/
!/.config/fish/*.fish
!/.config/fish/fishfile
!/.config/karabiner/
!/.config/karabiner/karabiner.json
!/.config/karabiner/assets/
!/.config/karabiner/assets/**
!/.config/nvim/
!/.config/nvim/**
!/.gitignore
!/bin/
!/bin/**
!/etc/
!/etc/**
!/LICNSE
!/Makefile
!/Profiles.json
!/README.md
